* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
    scroll-behavior: smooth;
}

/* For Headers font
	font-family: 'Lobster', cursive;
*/

html, body{
   overflow-x: hidden;
  max-width: 100%;
}

body {
    text-align: justify;
    background-image: url(./../images/GMMY2171.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;

}
.container-fluid{
    padding: 0;
}

.modal-body {
    background-image: url(./../images/GMMY3704.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
    padding-top: 20vh;
}

.modaltext {
    text-align: center;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 5px black;

}

/*Home CSS*/

.card {
    width: 100%;
    text-align: justify;
    background-color: rgba(225, 225, 225, 0.5);
}

.card-title {
    text-align: center;
}

.card img {
    height: 250px;
}

#home-dp {
    /*height: 30vh;*/
    border-radius: 50%;
}

h3 {
    text-align: center;
}

p {
    text-align: justify-all;
}

.head-img{
    height: 70vh;
    width: 100%;
}
.logo-icon{
    max-height: 200px;
}

.bg-trans-white{
    background-color: rgba(255,255,255,.5);
}


/*End of Home CSS*/


/*Photography*/
#photography {
  /*height: 100vh;*/
  box-sizing: content-box;
  padding-bottom: 20%;
  font-size: 16px;
  line-height: 1.5;
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  background-color: #222;
}

#photography {
  /*overflow: hidden;*/
  box-sizing: content-box;
  background-color: rgba(0,0,0,.5);
/*  background-color: #222;
  background-image: 
    linear-gradient(to right, rgba(255,255,255,.025) 10%, transparent 0),
    linear-gradient(#222, #000);
  background-size: .75em 100%, 100% 100%;
  background-attachment: fixed;*/
  display: flex;
  align-items: center;
}

.wrapper {
 position: relative;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;
  
  display: grid;
  grid-template-columns: repeat(8, 2fr);
  grid-template-rows: repeat(4, 2fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}

.photo {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all .25s;
}
  
  .photo:nth-child(7n + 1) {
    grid-column: 2 / span 2;
  }
  
  .photo:hover {
    z-index: 2;
    transform: scale(2);
  }
#photography-title{
    background-color: rgba(0,0,0,.5);
/*     background-color: #222;
  background-image: 
    linear-gradient(to right, rgba(255,255,255,.025) 10%, transparent 0),
    linear-gradient(#222, #000);
  background-size: .75em 100%, 100% 100%;
  background-attachment: fixed;*/
    margin: 0;
    margin-bottom: -.5px;
    padding-top:20px;
    padding-bottom: 2vh;
    color: white;
}

/* end of Photography*/

footer i, footer p{
    color: #fff;
    display: inline-block;
    margin:0;
}



/*Media Queries*/